* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 360px;
  margin: 0 auto;
  font-family: "Helvetica Neue", sans-serif;
}

.header {
  gap: 8px;
  padding: 24px 20px;
  background-color: #ff0095;
}

.main {
  max-width: 320px;
  padding: 20px 0 56px 20px;
}

.main__heading {
  margin-bottom: 16px;
  color: #141414;
  font-family: "Times New Roman", serif;
  font-weight: 600;
  font-size: 28px;
}

.main__points-img {
  margin-bottom: 8px;
}

.main__text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}

.main__text-blog {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}

.main__link {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 135%;
  text-decoration-line: underline;
}

.main__link-unhappy {
  color: #141414;
}

.main__sad-girl {
  margin: 20px 0 17px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__list {
  margin-left: 15px;
  padding: 0;
}

.footer {
  display: flex;
  gap: 8px;
  padding: 20px;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  background-color: #ff0095;
}
